*.js
*.d.ts
node_modules
dist
temp_out.json
scripts/**/output.*json
publish.*env
!jest.config.js
!.prettierrc.js
!scripts/**/*.js

# CDK asset staging directory
.cdk.staging
cdk.out

# Misc
**/.DS_Store
.eslintcache
.DS_Store
log.txt
npm-debug.log*
